<div class="about-container">
    <h1>{{ 'ABOUT.TITLE' | translate }}</h1>

    <section>
      <h2>{{ 'ABOUT.WHY' | translate }}</h2>
      <p>{{ 'ABOUT.WHY_DESCRIPTION' | translate }}</p>
    </section>

    <section>
      <h2>{{ 'ABOUT.WHEN' | translate }}</h2>
      <p>{{ 'ABOUT.WHEN_DESCRIPTION' | translate }}</p>
    </section>

    <section>
      <h2>{{ 'ABOUT.WHERE' | translate }}</h2>
      <p>{{ 'ABOUT.WHERE_DESCRIPTION' | translate }}</p>
    </section>

    <section>
      <h2>{{ 'ABOUT.HOW_TO_PROTECT' | translate }}</h2>
      <p>{{ 'ABOUT.HOW_TO_PROTECT_DESCRIPTION' | translate }}</p>
    </section>

    <section>
      <h2>{{ 'ABOUT.SOURCES_TITLE' | translate }}</h2>
      <p>{{ 'ABOUT.SOURCES_DESCRIPTION' | translate }}</p>
      <ul class="sources-list">
        <li><a href="https://www.gov.kz/memleket/entities/emergency?lang=ru" target="_blank">{{ 'ABOUT.MCS_WEBSITE' | translate }}</a></li>
        <li><a href="https://www.kazhydromet.kz" target="_blank">{{ 'ABOUT.KAZHYDROMET_WEBSITE' | translate }}</a></li>
      </ul>
    </section>

    <section>
      <h2>{{ 'ABOUT.CONTACT' | translate }}</h2>
      <p>{{ 'ABOUT.PHONE' | translate }} 112</p>
    </section>
  </div>